
@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fontescolha: 'Sriracha', cursive;
}

/* CSS Reset */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-image: url('img/Geleia8.bmp');
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
}

/* Layout */

.container {
    margin: 0 auto;
}

.Flex {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

/* Seta para ir para o topo do site */

#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Layout */
.container {
    max-width: 720px;
}
section h1 {
    font-family: var(--fontescolha);
    color: rgb(252, 252, 252);
    font-size: 5.5vw;
    text-align: center;
    font-weight: unset;
}

/* CABEÇALHO */
header {
    height: 110px;
}
#logo img {
    width: 20vw;
    height: 30vw;
    border-radius: 30%;
}
header h1 {
    font-family: 'Lakki Reddy', cursive;
    font-size: 10vw;
    letter-spacing: 0.1em;
    margin-top: 20px;
    color: rgb(211, 247, 10);
}
header h2 {
    font-size: 5vw;
    color: cornsilk;
    text-align: center;
    margin-top: -10px;
}
#whatsapp {
    width: 10vw;
}
#check {
    display: none;
}
nav label {
    font-size: 3em;
    padding-right: 15px;
}
nav ul {
    list-style: none;
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;    
}
#check:checked ~ ul {
    right: 0%;
}
nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* PROFISSIONAIS */
#profissionais p {
    font-size: 5vw;
}
#profissionais div img {
    width: 30vw;
    height: 30vh;
}

/* VEICULO */
#foto-legenda img {
    width: 100px;
    height: 50px;
}
table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
}
table#tabelaspec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}
table#tabelaspec td.cd {
    background-color: #cecece;
}
table#tabelaspec caption {
    color: #e61111;
    font-size: 13;
    font-weight: bolder;
}
table#tabelaspec caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8px;
    margin-top: 10px;
}
#foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;    
}
#foto-legenda img {
    width: 100%;
    height: 100%;
}
#foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 1px;
    background-color: rgba(97, 17, 17, 0.2);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
#foto-legenda:hover figcaption {
    opacity: 1;
}

/* TRAJETOS */
.caminho {
    max-width: 100%;
}
#piradentro {
    text-align: center;
    font-size: 30px;
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;    
}
#piradentro figcaption {
    opacity: 0;
    position: absolute;
    top: 1px;
    background-color: rgba(97, 17, 17, 0.2);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
#piradentro:hover figcaption {
    opacity: 1;
}
#pirario {
    text-align: center;
    font-size: 30px;
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;    
}
#pirario figcaption {
    opacity: 0;
    position: absolute;
    top: 1px;
    background-color: rgba(97, 17, 17, 0.2);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
#pirario:hover figcaption {
    opacity: 1;
}
#pirasjose {
    text-align: center;
    font-size: 30px;
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;    
}
#pirasjose figcaption {
    opacity: 0;
    position: absolute;
    top: 1px;
    background-color: rgba(97, 17, 17, 0.2);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
#pirasjose:hover figcaption {
    opacity: 1;
}

/* ESCOLAS */
.endereco {
    margin-right: 3em;
}
#escolas img {
    max-width: 50%;
}

/* RODAPE */

footer#rodape {
    clear: both;
    text-align: center;
}
.icone {
    margin: 0px auto;
    padding: 3px;
    height: 45px;
}
.rede {
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-transition: all .5s ease-in;
    border-radius: 10px;
}
.rede:hover {
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);    
}
.rede#facebook {
    background-color: #2373a3;
}
.rede#instagran {
    background-color: #e91212;
}
.rede#youtube {
    background-color: #fff;
}
/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {
    /* Layout */
    .container {
        max-width: 540px;
    }
    section h1 {
        font-family: var(--fontescolha);
        color: rgb(252, 252, 252);
        font-size: 6vw;
        text-align: center;
        font-weight: unset;
    }

    /* CABEÇALHO */
    header {
        height: 170px;
        margin-top: 10px;
    }
    #logo img {
        width: 20vw;
        height: 40vh;
        border-radius: 30%;
    }
    header h1 {
        font-family: 'Lakki Reddy', cursive;
        font-size: 8vw;
        letter-spacing: 0.1em;
        margin-top: 10px;
        color: rgb(211, 247, 10);
    }
    header h2 {
        font-size: 5vw;
        color: cornsilk;
        text-align: center;
    }
    #whatsapp {
        width: 8vw;
    }
    #check {
        display: none;
    }
    nav label {
        font-size: 3em;
        padding-right: 15px;
    }
    nav ul {
        list-style: none;
        background-color: #343538;
        height: 100vh;
        position: fixed;
        top: 60px;
        right: -100%;
        width: 100%;
        transition: all 0.5s;    
    }
    #check:checked ~ ul {
        right: 0;
    }
    nav ul li {
        padding: 10px;
        border-bottom: 1px solid #a9a9a9;
    }
    nav ul li a {
        text-decoration: none;
        color: #fff;
    }

    /* PROFISSIONAIS */
    #profissionais p {
        font-size: 5vw;
    }
    #profissionais div img {
        width: 30vw;
        height: 50vh;
    }
    /* RODAPE */

    footer#rodape {
        clear: both;
        text-align: center;
    }
    .icone {
        margin: 0px auto;
        padding: 3px;
        height: 45px;
    }
    .rede {
        display: inline-block;
        width: 50px;
        height: 50px;
        -webkit-transition: all .5s ease-in;
        border-radius: 10px;
    }
    .rede:hover {
        cursor: pointer;
        transform: translateY(-20px);
        box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);    
    }
    .rede#facebook {
        background-color: #2373a3;
    }
    .rede#instagran {
        background-color: #e91212;
    }
    .rede#youtube {
        background-color: #fff;
    }

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
    /* Layout */
    .container {
        max-width: 720px;
    }
    section h1 {
        font-family: var(--fontescolha);
        color: rgb(252, 252, 252);
        font-size: 6vw;
        text-align: center;
        font-weight: unset;
    }

    /* CABEÇALHO */
    header {
        height: 150px;
        margin-top: 10px;
    }
    #logo img {
        width: 160px;
        height: 160px;
        border-radius: 30%;
    }
    header h1 {
        font-family: 'Lakki Reddy', cursive;
        font-size: 3.5em;
        letter-spacing: 0.1em;
        margin-top: 10px;
        color: blue;
    }
    header h2 {
        font-size: 2.5em;
        color: cornsilk;
        text-align: center;
    }
    #whatsapp {
        width: 40px;
    }
    #check {
        display: none;
    }
    nav label {
        font-size: 3em;
        padding-right: 15px;
    }
    nav ul {
        list-style: none;
        background-color: #343538;
        height: 100vh;
        position: fixed;
        top: 60px;
        right: -100%;
        width: 100%;
        transition: all 0.5s;    
    }
    #check:checked ~ ul {
        right: 0;
    }
    nav ul li {
        padding: 20px;
        border-bottom: 1px solid #a9a9a9;
        font-size: 2em;
    }
    nav ul li a {
        text-decoration: none;
        color: #fff;
    }

    /* PROFISSIONAIS */
    #profissionais p {
        font-size: 2em;
    }

    #profissionais div img {
        width: 30vw;
        height: 30vh;
    }

    /* VEICULO */
    table#tabelaspec {
        border: 1px solid #606060;
        border-spacing: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    table#tabelaspec td {
        border: 1px solid #606060;
        padding: 10px;
    }
    table#tabelaspec td.ce {
        color: #ffffff;
        background-color: #606060;
        vertical-align: top;
        font-weight: bold;
    }
    table#tabelaspec td.cd {
        background-color: #cecece;
    }
    table#tabelaspec caption {
        color: #888888;
        font-size: 13;
        font-weight: bolder;
    }
    table#tabelaspec caption span {
        display: block;
        float: right;
        color: #000000;
        font-size: 8px;
        margin-top: 10px;
    }
    #foto-legenda {
        position: relative;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;    
    }
    #foto-legenda img {
        width: 100%;
        height: 100%;
    }
    #foto-legenda figcaption {
        opacity: 0;
        position: absolute;
        top: 1px;
        background-color: rgba(97, 17, 17, 0.2);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    #foto-legenda:hover figcaption {
        opacity: 1;
    }

    /* TRAJETOS */
    .caminho {
        max-width: 100%;
    }
    #piradentro {
        text-align: center;
        font-size: 30px;
        position: relative;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;    
    }
    #piradentro figcaption {
        opacity: 0;
        position: absolute;
        top: 1px;
        background-color: rgba(97, 17, 17, 0.2);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    #piradentro:hover figcaption {
        opacity: 1;
    }
    #pirario {
        text-align: center;
        font-size: 30px;
        position: relative;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;    
    }
    #pirario figcaption {
        opacity: 0;
        position: absolute;
        top: 1px;
        background-color: rgba(97, 17, 17, 0.2);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    #pirario:hover figcaption {
        opacity: 1;
    }
    #pirasjose {
        text-align: center;
        font-size: 30px;
        position: relative;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;    
    }
    #pirasjose figcaption {
        opacity: 0;
        position: absolute;
        top: 1px;
        background-color: rgba(97, 17, 17, 0.2);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    #pirasjose:hover figcaption {
        opacity: 1;
    }

    /* ESCOLAS */
    .endereco {
        position: absolute;
        margin-left: 355px;
        margin-top: 10px;
        font-size: 15pt;
    }

    /* RODAPE */

    footer#rodape {
        clear: both;
        text-align: center;
    }
    .icone {
        margin: 0px auto;
        padding: 3px;
        height: 45px;
    }
    .rede {
        display: inline-block;
        width: 50px;
        height: 50px;
        -webkit-transition: all .5s ease-in;
        border-radius: 10px;
    }
    .rede:hover {
        cursor: pointer;
        transform: translateY(-20px);
        box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);    
    }
    .rede#facebook {
        background-color: #2373a3;
    }
    .rede#instagran {
        background-color: #e91212;
    }
    .rede#youtube {
        background-color: #fff;
    }

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
    /* Layout */
    .container {
        max-width: 960px;
    }
    section h1 {
        font-family: var(--fontescolha);
        color: rgb(252, 252, 252);
        font-size: 4vw;
        text-align: center;
        font-weight: unset;
    }

    /* CABEÇALHO */
    header {
        height: 200px;
        margin-top: 10px;
    }
    #logo img {
        width: 190px;
        height: 200px;
        border-radius: 30%;
    }
    header h1 {
        font-family: 'Lakki Reddy', cursive;
        font-size: 5em;
        letter-spacing: 0.1em;
        margin-top: 10px;
        color: blue;
    }
    header h2 {
        font-size: 3em;
        color: cornsilk;
        text-align: center;
        margin-bottom: 20px;

    }
    nav ul {
        list-style: none;
        background-color: #343538;
        height: 100vh;
        position: fixed;
        top: 60px;
        right: -100%;
        width: 100%;
        transition: all 0.5s;    
    }

    /* ESCOLAS */
    .endereco {
        position: absolute;
        margin-left: 355px;
        margin-top: 10px;
        font-size: 15pt;
    }
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* LAYOUT */
    .container {
        max-width: 1140px;
    }
    section h1 {
        font-family: var(--fontescolha);
        color: rgb(252, 252, 252);
        font-size: 3vw;
        text-align: center;
        font-weight: unset;
    }

    /* CABEÇALHO */
    header {
        height: 120px;
        margin-bottom: 12px;
    }
    header h1 {
        font-family: 'Lakki Reddy', cursive;
        font-size: 3em;
        padding-left: 38px;
        padding-right: 0px;
        letter-spacing: 0.2em;
        margin-top: 30px;
        color: blue;
    }
    header h2 {
        font-size: 2em;
        margin-left: 50px;
        margin-top: -10px;
        color: cornsilk;
    }
    #whatsapp {
        width: 50px;
    }
    #logo img {
        width: 189px;
        height: 189px;
        border-radius: 30%;
        margin-top: 5px;
        margin-left: 3px;
    }
    header label {
        display: none;
    }
    nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 100px;
        font-size: 1.5vh;
    }
    nav ul li {
        float: left;
        border: 0;
        padding: 5px;
    }
    nav ul li a {
        color: #d4f12f;
    }
    nav ul li a:hover {
        color: #c00000;
    }

    /* PROFISSIONAIS */
    #profissionais {
        padding-top: 70px;
    }
    #profissionais p {
        font-size: 2vw;
    }
    #profissionais div img {
        width: 30vw;
        height: 30vh;
    }

    /* VEICULO */
    table#tabelaspec {
        border: 1px solid #606060;
        border-spacing: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    table#tabelaspec td {
        border: 1px solid #606060;
        padding: 10px;
    }
    table#tabelaspec td.ce {
        color: #ffffff;
        background-color: #606060;
        vertical-align: top;
        font-weight: bold;
    }
    table#tabelaspec td.cd {
        background-color: #cecece;
    }
    table#tabelaspec caption {
        color: #888888;
        font-size: 13;
        font-weight: bolder;
    }
    table#tabelaspec caption span {
        display: block;
        float: right;
        color: #000000;
        font-size: 8px;
        margin-top: 10px;
    }
    #foto-legenda {
        position: relative;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;    
    }
    #foto-legenda img {
        width: 100%;
        height: 100%;
    }
    #foto-legenda figcaption {
        opacity: 0;
        position: absolute;
        top: 1px;
        background-color: rgba(97, 17, 17, 0.2);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    #foto-legenda:hover figcaption {
        opacity: 1;
    }

    /* TRAJETOS */
    .caminho {
        max-width: 100%;
    }
    #piradentro {
        text-align: center;
        font-size: 2vw;
        position: relative;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;    
    }
    #piradentro figcaption {
        opacity: 0;
        position: absolute;
        top: 1px;
        background-color: rgba(97, 17, 17, 0.2);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    #piradentro:hover figcaption {
        opacity: 1;
    }
    #pirario {
        text-align: center;
        font-size: 30px;
        position: relative;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;    
    }
    #pirario figcaption {
        opacity: 0;
        position: absolute;
        top: 1px;
        background-color: rgba(97, 17, 17, 0.2);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    #pirario:hover figcaption {
        opacity: 1;
    }
    #pirasjose {
        text-align: center;
        font-size: 30px;
        position: relative;
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;    
    }
    #pirasjose figcaption {
        opacity: 0;
        position: absolute;
        top: 1px;
        background-color: rgba(97, 17, 17, 0.2);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    #pirasjose:hover figcaption {
        opacity: 1;
    }

    /* ESCOLAS */
    .endereco {
        position: absolute;
        margin-left: 380px;
        margin-top: 10px;
    }
    
    /* RODAPE */

    footer#rodape {
        clear: both;
        text-align: center;
    }
    .icone {
        margin: 0px auto;
        padding: 3px;
        height: 45px;
    }
    .rede {
        display: inline-block;
        width: 50px;
        height: 50px;
        -webkit-transition: all .5s ease-in;
        border-radius: 10px;
    }
    .rede:hover {
        cursor: pointer;
        transform: translateY(-20px);
        box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);    
    }
    .rede#facebook {
        background-color: #2373a3;
    }
    .rede#instagran {
        background-color: #e91212;
    }
    .rede#youtube {
        background-color: #fff;
    }
}
